@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@500&display=swap');

.Present {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  z-index: 10;
}

.mi-nombre {
  font-family: 'Playfair Display', serif;
  font-size: 90px;
}

.profesion {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  margin-bottom: 20px;
}

.links {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin: 0 80px;
  z-index: 10;
}

.links:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}